@font-face {
    font-family: 'Fredoka-Regular';
    src: url('/fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #F5B042;
    --color-background: #F3ECFF;
    --color-text: rgba(0, 0, 0, 0.8);
    --font-family: 'Fredoka-Regular', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url("/images/bg-blobs-final.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: inherit;
    text-decoration: none;
}
